<div>
  <button
    id="updateVoterBtn"
    class="btn option-btn"
    mat-stroked-button
    color="primary"
    [disabled]="!(voterState$ | async)"
    (click)="openDialog()"
  >
    Update Voter
  </button>
  <button
    id="closeBallotBtn"
    class="btn option-btn"
    mat-stroked-button
    color="primary"
    (click)="closeBallot()"
    [disabled]="!(ballotState$ | async)"
  >
    Close Ballot
  </button>
  <button
    id="resultsOfElectionsBtn"
    class="btn option-btn"
    mat-stroked-button
    color="primary"
    (click)="openElectionsResults()"
  >
      {{ electionsResults }}
  </button>
</div>
