/* You can add global styles to this file, and also import other style files */
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*html{
  background-color: lightskyblue;
  color: rgba(0,0,0,.87);
}*/

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 10;
}

// .basic-container {
//   padding: 30px;
// }

.version-info {
  font-size: 10pt;
  float: right;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: none!important;
}


.cdk-text-field-autofill-monitored:-webkit-autofill{
  padding: 6px;
  border-radius: 5px;
}
// .mat-dialog-container {
//   display: block;
//   padding: 14px;
//   border-radius: 4px;
//   box-sizing: border-box;
//   overflow: auto;
//   outline: 0;
//   width: 40%;
//   height: 100%;
//   min-height: inherit;
//   max-height: inherit;
//   margin-left: 30%;
// }

