.login{
    text-align: center;
    flex: 100%;
}
mat-form-field {
    width: 80%;
}
.example-card{
    background-color: #567DD1;
    width:30%;
    margin-top: 10%;
    margin-left: 30%;
}

 .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }

  .btn-primary {
    /*position: relative;*/
    background-color: cornflowerblue;
  }
  