table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

td, th {
  width: 16.66%;
}

.header {
  padding: 5px;
}

.filter {
  display: block;
}

.padding-table {
  padding-top: 10px;
}

.margin-table {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 2%;
  margin-right: 2%;
}
