table {
  width: 100%;
}

.mat-form-field {
  /* font-size: 14px; */
  width: 100%;
}

td, th {
  width: 16.66%;
}

.header {
  padding: 5px;
}

.filter {
  display: block;
}

.padding-table {
  padding-top: 10px;
}

.margin-table {
  margin-bottom: 15px;
}
