<div alt="Avatar">
    <div class="container">
      <a [routerLink]="votingCard.letter" *ngFor="let votingCard of votingCardList">
        <app-voting-card [votingCard]="votingCard"></app-voting-card>
      </a>
      <router-outlet></router-outlet>
    </div>
  </div>



    <!--<igx-card>
        <igx-card-header>
            <h3 igxCardHeaderTitle>{{ card.title }}</h3>
            <h5 igxCardHeaderSubtitle>{{ card.subtitle }}</h5>
        </igx-card-header>

        <igx-card-content>
            <p>{{ card.content }}</p>
        </igx-card-content>

        <igx-card-actions>
            <button igxButton igxRipple *ngFor="let button of card.buttons">{{ button }}</button>
            <button igxButton="icon"
                igxRipple
                igxRippleCentered="true"
                *ngFor="let icon of card.icons">
                <igx-icon>{{icon}}</igx-icon>
            </button>
        </igx-card-actions>

    </igx-card>
</div>-->
