<h2 mat-dialog-title>Confirm Update Voter</h2>
<mat-dialog-content class="mat-typography">
  <h4>ID: {{citizenData.id}}</h4>
  <h4>Name: {{citizenData.firstName+' '+citizenData.lastName}}</h4>
  <h4><b>Are you sure you want to continue?</b></h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-stroked-button color="primary" (click)="cancelChoose()">Cancel</button>
  <button mat-button color="primary" class="btn-primary" (click)="okChoose()" style="color: white"[disabled]="!okState" cdkFocusInitial>Ok</button>
</mat-dialog-actions>